@model Mod02_.Models.Opera

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div>
        <h3>Delete Confirm</h3>
        <ul>
            <li>
                @Html.DisplayNameFor(m => m.Title) :
                @Html.DisplayFor(m => m.Title)
            </li>
            <li>
                @Html.DisplayNameFor(m => m.Year) :
                @Html.DisplayFor(m => m.Year)
            </li>
            <li>
                @Html.DisplayNameFor(m => m.Composer) :
                @Html.DisplayFor(m => m.Composer)
            </li>
        </ul>
        <p>
            @using (Html.BeginForm())
            {
                <input type="submit" value="Delete" />
            }
            @Html.ActionLink("back to list", "Index")
        </p>

    </div>
</body>
</html>
