@model Mod02_.Models.Opera

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <div>@Html.ValidationSummary()</div>
            <fieldset>
                <legend>Opera</legend>
                @Html.HiddenFor(m => m.OperaID)
                <div>@Html.LabelFor(m => m.Title)</div>
                <div>
                    @Html.EditorFor(m => m.Title)
                    @Html.ValidationMessageFor(m => m.Title, "*")
                </div>

                <div>@Html.LabelFor(m => m.Year)</div>
                <div>
                    @Html.EditorFor(m => m.Year)
                    @Html.ValidationMessageFor(m => m.Year, "*")
                </div>

                <div>@Html.LabelFor(m => m.Composer)</div>
                <div>
                    @Html.EditorFor(m => m.Composer)
                    @Html.ValidationMessageFor(m => m.Composer, "*")
                </div>
                <div>
                    <input type="submit" value="Save" />
                </div>
            </fieldset>
        }
        <p>
            @Html.ActionLink("back to list", "Index")
        </p>
    </div>
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    </div>
</body>
</html>
